body {
    background-color: #f7f7f7;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 15px;
  }
  .imgwidth{
    max-width: 150px;
    max-height: 60px;
  }
  .navbar{
    transition: all 1s ease;
  }
  .nav-link{
    color: black;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #db2d88;
    box-shadow: 1px 1px 1px #db2d88;
    margin-right: 0px;
    margin-left: 17px;
    
  }
  .nav-link:hover{
    background: #db2d88;
    color:white!important;
  }
  .btnsearchcolor{
    background: #db2d88;
    color:white;
  }
  
  .carosuelmargin{
    margin-left: 40px;
    margin-right: 40px;
  }
  .carosuelinnerheight{
    height:285px;
    border-radius: 15px;
  }
  
  
  /*footer css */
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.instagram:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  
  
  
  /* before after css of filter title */
  .headerhifne {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headerhifne h2 {
    position: relative;
  }
  
  .headerhifne h2:before,
  .headerhifne h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: black; /* Change this to the desired color */
    position: absolute;
    top: 50%;
  }
  
  .headerhifne h2:before {
    right: calc(100% + 10px);
  }
  
  .headerhifne h2:after {
    left: calc(100% + 10px);
  }
  p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 15px;
  }
  .imgwidth{
    max-width: 150px;
    max-height: 60px;
  }
  .navbar{
    transition: all 1s ease;
  }
  .nav-link{
    color: black;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #db2d88;
    box-shadow: 1px 1px 1px #db2d88;
    margin-right: 0px;
    margin-left: 17px;
    
  }
  .nav-link:hover{
    background: #db2d88;
    color:white!important;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .active-link {
    background: #db2d88;
    color:white!important;
  }
  
  .btnsearchcolor{
    background: #db2d88;
    color:white;
  }
  
  .carosuelmargin{
    margin-left: 40px;
    margin-right: 40px;
  }
  .carosuelinnerheight{
    height:285px;
    border-radius: 15px;
  }
  
  
  
  /* before after css of filter title */
  .headerhifne {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headerhifne h2 {
    position: relative;
  }
  
  .headerhifne h2:before,
  .headerhifne h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: black; /* Change this to the desired color */
    position: absolute;
    top: 50%;
  }
  
  .headerhifne h2:before {
    right: calc(100% + 10px);
  }
  
  .headerhifne h2:after {
    left: calc(100% + 10px);
  }
  
  /* list grid css */
  
  
  .gridlist-container .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 1.75rem;
  }
  .gridlist-container .header i {
    margin-left: 8px;
  }
  .gridlist-container .header input[type=search] {
    background-color: transparent;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
  .gridlist-container .header ::placeholder {
    color: #aaa;
  }
  
  .gridlist {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  .gridlist .item {
    margin: 10px;
    transition: width 0.3s ease;
  }
  .gridlist .item .item-container {
    display: flex;
    width: 100%;
    position: relative;
    color: inherit;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    transition: all 0.2s ease-in-out;
  }
  .gridlist .item .item-container:after {
    transition: all 0.3s ease-in-out;
  }
  .gridlist .item .item-container .item-cover {
    flex: 0;
  }
  .gridlist .item .item-container .item-cover .avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    border-radius: 100%;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 5px;
  }
  .gridlist .item .item-container .item-cover .avatar div,
  .gridlist .item .item-container .item-cover .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gridlist .item .item-container .item-content {
    flex: 1;
    padding: 1.75rem;
  }
  .gridlist .item .item-container .item-content .subhead-1 {
    color: inherit;
  }
  .gridlist .item .item-container .item-content .subhead-1:hover {
    cursor: pointer;
  }
  .gridlist .item .item-container .item-content small {
    color: #aaa;
    text-transform: lowercase;
  }
  .gridlist .item .item-reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #eceef1;
    background-color: #46464a;
    transition: all 0.2s ease-in-out;
  }
  .gridlist .item .item-reveal i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .gridlist .item .item-reveal i:hover {
    opacity: 0.9;
  }
  .gridlist .item.is-collapsed .item-container:after {
    content: "";
    opacity: 0;
  }
  .gridlist .item.is-collapsed .item-reveal {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .gridlist .item.is-expanded .item-container {
    color: rgba(255, 255, 255, 0.57);
    background-color: #f28a52;
  }
  .gridlist .item.is-expanded .item-container .subhead-1 {
    color: #fff;
  }
  .gridlist .item.is-expanded .item-container small {
    color: inherit;
  }
  .gridlist .item.is-expanded .item-container:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #46464a;
  }
  .gridlist .item.is-expanded .item-reveal {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 20px;
    opacity: 1;
  }
  .gridlist .item.is-expanded:hover .item-container {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .gridlist .item.is-inactive .item-container {
    pointer-events: none;
    opacity: 0.5;
    color: inherit;
  }
  .gridlist .item.is-inactive:hover .item-container {
    background-color: #d3d3d3;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .gridlist .item.is-inactive:hover .item-container .subhead-1,
  .gridlist .item.is-inactive:hover .item-container small {
    color: #47505e !important;
  }
  .gridlist .item:hover .item-container {
    color: #000;
    background-color: #db2d88;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .gridlist .item:hover .item-container .subhead-1 {
    color: #fff;
  }
  .gridlist .item:hover .item-container small {
    color: inherit;
  }
  
  .gridlist.gridview .item {
    width: calc((100% / 3) - 20px);
  }
  .gridlist.gridview .item .item-container {
    flex-direction: column;
    text-align: center;
    padding: 1.75rem 0;
  }
  .gridlist.gridview .item .item-container .item-cover {
    width: 100%;
    max-height: 120px;
  }
  
  @media screen and (max-width: 991px) {
    .gridlist.gridview .item {
      width: calc((100% / 2) - 20px);
    }
  }
  @media screen and (max-width: 767px) {
    .gridlist.gridview .item {
      width: 100%;
    }
  }
  @media screen and (min-width: 992px) {
    .gridlist.gridview .item:nth-of-type(3n+2) .item-reveal {
      margin-left: calc(-100% - 30px);
    }
  
    .gridlist.gridview .item:nth-of-type(3n+3) .item-reveal {
      margin-left: calc(-200% - 60px);
    }
  
    .gridlist.gridview .item:nth-of-type(3n+4) {
      clear: left;
    }
  
    .gridlist.gridview .item-reveal {
      width: calc(300% + 60px);
    }
  
    /*
    .gridlist.gridview .item:nth-of-type(3n+2) .item-reveal {
      margin-left: calc(-100% - 30px);
    }
    .gridlist.gridview .item:nth-of-type(3n+3) .item-reveal {
      margin-left: calc(-200% - 60px);
    }
    .gridlist.gridview .item:nth-of-type(3n+4) {
      clear: left;
    }
    .gridlist.gridview .item-reveal {
      width: calc(300% + 60px);
    }	
    */
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .gridlist.gridview .item:nth-of-type(2n + 2) .item-reveal {
      margin-left: calc(-100% - 20px);
    }
  
    .gridlist.gridview .item:nth-of-type(2n + 3) {
      clear: left;
    }
  
    .gridlist.gridview .item-reveal {
      width: calc(200% + 20px);
    }
  }
  .gridlist.listview .item {
    width: calc((100% / 1) - 20px);
  }
  .gridlist.listview .item .item-container {
    flex-direction: row;
    align-items: center;
    padding: 0 1.75rem;
  }
  .gridlist.listview .item .item-container .item-cover {
    height: 100%;
    max-width: 120px;
    margin-right: 1.75rem;
  }
  
  @media screen and (min-width: 992px) {
    .gridlist.listview .item:nth-of-type(3n + 2) .item-reveal {
      margin-left: 0;
    }
  
    .gridlist.listview .item:nth-of-type(3n + 3) .item-reveal {
      margin-left: 0;
    }
  
    .gridlist.listview .item:nth-of-type(3n + 4) {
      clear: left;
    }
  
    .gridlist.listview .item-reveal {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .gridlist.listview .item:nth-of-type(2n + 2) .item-reveal {
      margin-left: 0;
    }
  
    .gridlist.listview .item:nth-of-type(2n + 3) {
      clear: left;
    }
  
    .gridlist.listview .item-reveal {
      width: 100%;
    }
  }
  .listview .price-font{
    font-size: 15px;
    font-weight: bold;
    margin-left: -62px;
  }
  .left-text{
  margin-left: -24px;}
  .float-right{
    float: right;
  }
  .float-right:hover{
    color: #fff;
  }
  .price-font{
    font-size: 25px;
    font-weight: bold;
  }
  .style-1 del {
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
  }
  .style-1 del:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgba(255, 0, 0, 0.8);
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-7deg);
  }
  .ml10{
    margin-left: 10px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .list-grid-ico{
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .cat-text{
    background: none;
    border: 1px solid #0294dd;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
  }
  
  .scroll {
    height: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .imgt {
    margin: 20px 10px 0 10px;
  }
  .h2clr{
    background: #db2d88;
    text-align: center;
    padding: 10px;
    color: #fff;
  }
  .qty-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qty-container .input-qty{
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
  }
  .qty-container .qty-btn-minus,
  .qty-container .qty-btn-plus{
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
  }
  .qty-container .qty-btn-plus{
    margin-left: -1px;
  }
  .qty-container .qty-btn-minus{
    margin-right: -1px;
  }
  
  
  /*---------------------------*/
  .btn-cornered,
  .input-cornered{
    border-radius: 4px;
  }
  .btn-rounded{
    border-radius: 50%;
  }
  .input-rounded{
    border-radius: 50px;
  }
  .plusic{
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 10px;
  }
  
  
  /* before after css of filter title */
  .headerhifne {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
  
  }
  
  .headerhifne h2 {
    position: relative;
    color: #db2d88;
  }
  
  .headerhifne h2:before,
  .headerhifne h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #0092dd; /* Change this to the desired color */
    position: absolute;
    top: 50%;
  }
  
  .headerhifne h2:before {
    right: calc(100% + 10px);
  }
  
  .headerhifne h2:after {
    left: calc(100% + 10px);
  }
  .card {
    margin-bottom: 1rem;
  }
  .list-view .row > [class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .list-view .card {
    flex-direction: row;
  }
  .list-view .card .card-body {
    display: inline-block;
  }
  .list-view .card .card-img-top {
    width: 14%;
  }
  .quantity {
    display: flex;
    align-items: center;
  }
  .quantity__input {
    width: 50px;
    text-align: center;
    margin-right: 5px;
  }
  .cartcount{
    background: #fabf04;
    color: #000;
    border-radius: 20px;
    padding: 8px;
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 1px;
    position: absolute;
    bottom: 47px;
  }
  .cartclr:hover{
    color:#000;
  }
.animate-charcter
{
 text-transform: uppercase;
background-image: linear-gradient(
  -225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;
font-size: 30px;
margin-bottom: 40px;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}
.card-img-top{
width: 60%;
border-top-left-radius: calc(.25rem - 1px);
border-top-right-radius: calc(.25rem - 1px);
margin:0 auto;
}



/*footer css */
.site-footer
{
  background-color:#db2d88;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#0092dd;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.highlighttag{
  color: #0092dd;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0px 1px white;
}