p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 15px;
}

.imgwidth {
    max-width: 150px;
    max-height: 60px;
}

.navbar {
    transition: all 1s ease;
}

.nav-link {
    color: black;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #db2d88;
    box-shadow: 1px 1px 1px #db2d88;
    margin-right: 0px;
    margin-left: 17px;
}

.nav-link:hover {
    background: #db2d88!important;
    color: white!important;
}

a:hover {
    text-decoration: none;
}

.active-link {
    background: #db2d88;
    color: white!important;
}

.btnsearchcolor {
    background: #db2d88;
    color: white;
}

.carosuelmargin {
    margin-left: 40px;
    margin-right: 40px;
}

.carosuelinnerheight {
    height: 285px;
    border-radius: 15px;
}
.atagcls {
    color: white!important;
    text-decoration:none!important;
}

/*footer css */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* before after css of filter title */

.headerhifne {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerhifne h2 {
    position: relative;
}

.headerhifne h2:before,
.headerhifne h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: black;
    /* Change this to the desired color */
    position: absolute;
    top: 50%;
}

.headerhifne h2:before {
    right: calc(100% + 10px);
}

.headerhifne h2:after {
    left: calc(100% + 10px);
}


/* list grid css */

.gridlist-container .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 1.75rem;
}

.gridlist-container .header i {
    margin-left: 8px;
}

.gridlist-container .header input[type=search] {
    background-color: transparent;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.gridlist-container .header ::placeholder {
    color: #aaa;
}

.gridlist {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

.gridlist .item {
    margin: 10px;
    transition: width 0.3s ease;
}

.gridlist .item .item-container {
    display: flex;
    width: 100%;
    position: relative;
    color: inherit;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    transition: all 0.2s ease-in-out;
}

.gridlist .item .item-container:after {
    transition: all 0.3s ease-in-out;
}

.gridlist .item .item-container .item-cover {
    flex: 0;
}

.gridlist .item .item-container .item-cover .avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    border-radius: 100%;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 5px;
}

.gridlist .item .item-container .item-cover .avatar div,
.gridlist .item .item-container .item-cover .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gridlist .item .item-container .item-content {
    flex: 1;
    padding: 1.75rem;
}

.gridlist .item .item-container .item-content .subhead-1 {
    color: inherit;
}

.gridlist .item .item-container .item-content .subhead-1:hover {
    cursor: pointer;
}

.gridlist .item .item-container .item-content small {
    color: #aaa;
    text-transform: lowercase;
}

.gridlist .item .item-reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #eceef1;
    background-color: #46464a;
    transition: all 0.2s ease-in-out;
}

.gridlist .item .item-reveal i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.gridlist .item .item-reveal i:hover {
    opacity: 0.9;
}

.gridlist .item.is-collapsed .item-container:after {
    content: "";
    opacity: 0;
}

.gridlist .item.is-collapsed .item-reveal {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.gridlist .item.is-expanded .item-container {
    color: rgba(255, 255, 255, 0.57);
    background-color: #f28a52;
}

.gridlist .item.is-expanded .item-container .subhead-1 {
    color: #fff;
}

.gridlist .item.is-expanded .item-container small {
    color: inherit;
}

.gridlist .item.is-expanded .item-container:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #46464a;
}

.gridlist .item.is-expanded .item-reveal {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 20px;
    opacity: 1;
}

.gridlist .item.is-expanded:hover .item-container {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gridlist .item.is-inactive .item-container {
    pointer-events: none;
    opacity: 0.5;
    color: inherit;
}

.gridlist .item.is-inactive:hover .item-container {
    background-color: #d3d3d3;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gridlist .item.is-inactive:hover .item-container .subhead-1,
.gridlist .item.is-inactive:hover .item-container small {
    color: #47505e !important;
}

.gridlist .item:hover .item-container {
    color: #000;
    background-color: #db2d88;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.gridlist .item:hover .item-container .subhead-1 {
    color: #fff;
}

.gridlist .item:hover .item-container small {
    color: inherit;
}

.gridlist.gridview .item {
    width: calc((100% / 3) - 20px);
}

.gridlist.gridview .item .item-container {
    flex-direction: column;
    text-align: center;
    padding: 1.75rem 0;
}

.gridlist.gridview .item .item-container .item-cover {
    width: 100%;
    max-height: 120px;
}

@media screen and (max-width: 991px) {
    .gridlist.gridview .item {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 767px) {
    .gridlist.gridview .item {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .gridlist.gridview .item:nth-of-type(3n+2) .item-reveal {
        margin-left: calc(-100% - 30px);
    }
    .gridlist.gridview .item:nth-of-type(3n+3) .item-reveal {
        margin-left: calc(-200% - 60px);
    }
    .gridlist.gridview .item:nth-of-type(3n+4) {
        clear: left;
    }
    .gridlist.gridview .item-reveal {
        width: calc(300% + 60px);
    }
    /*
    .gridlist.gridview .item:nth-of-type(3n+2) .item-reveal {
      margin-left: calc(-100% - 30px);
    }
    .gridlist.gridview .item:nth-of-type(3n+3) .item-reveal {
      margin-left: calc(-200% - 60px);
    }
    .gridlist.gridview .item:nth-of-type(3n+4) {
      clear: left;
    }
    .gridlist.gridview .item-reveal {
      width: calc(300% + 60px);
    }	
    */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .gridlist.gridview .item:nth-of-type(2n + 2) .item-reveal {
        margin-left: calc(-100% - 20px);
    }
    .gridlist.gridview .item:nth-of-type(2n + 3) {
        clear: left;
    }
    .gridlist.gridview .item-reveal {
        width: calc(200% + 20px);
    }
}

.gridlist.listview .item {
    width: calc((100% / 1) - 20px);
}

.gridlist.listview .item .item-container {
    flex-direction: row;
    align-items: center;
    padding: 0 1.75rem;
}

.gridlist.listview .item .item-container .item-cover {
    height: 100%;
    max-width: 120px;
    margin-right: 1.75rem;
}

@media screen and (min-width: 992px) {
    .gridlist.listview .item:nth-of-type(3n + 2) .item-reveal {
        margin-left: 0;
    }
    .gridlist.listview .item:nth-of-type(3n + 3) .item-reveal {
        margin-left: 0;
    }
    .gridlist.listview .item:nth-of-type(3n + 4) {
        clear: left;
    }
    .gridlist.listview .item-reveal {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .gridlist.listview .item:nth-of-type(2n + 2) .item-reveal {
        margin-left: 0;
    }
    .gridlist.listview .item:nth-of-type(2n + 3) {
        clear: left;
    }
    .gridlist.listview .item-reveal {
        width: 100%;
    }
}

.listview .price-font {
    font-size: 15px;
    font-weight: bold;
    margin-left: -62px;
}

.left-text {
    margin-left: -24px;
}

.float-right {
    float: right;
}

.float-right:hover {
    color: #fff;
}

.price-font {
    font-size: 25px;
    font-weight: bold;
}

.style-1 del {
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
}

.style-1 del:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgba(255, 0, 0, 0.8);
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-7deg);
}

.ml10 {
    margin-left: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.list-grid-ico {
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.cat-text {
    background: none;
    border: 1px solid #0294dd;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
}

.scroll {
    height: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

.imgt {
    margin: 20px 10px 0 10px;
}

.h2clr {
    background: #db2d88;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*---------------------------*/

.btn-cornered,
.input-cornered {
    border-radius: 4px;
}

.btn-rounded {
    border-radius: 50%;
}

.input-rounded {
    border-radius: 50px;
}

.plusic {
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 10px;
}


/* before after css of filter title */

.headerhifne {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.headerhifne h2 {
    position: relative;
    color: #db2d88;
}

.headerhifne h2:before,
.headerhifne h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #0092dd;
    /* Change this to the desired color */
    position: absolute;
    top: 50%;
}

.headerhifne h2:before {
    right: calc(100% + 10px);
}

.headerhifne h2:after {
    left: calc(100% + 10px);
}

.card {
    margin-bottom: 1rem;
    transition: transform .2s; /* Animation */
}

.list-view .row>[class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

.list-view .card .card-body {
    display: inline-block;
}

.list-view .card .card-img-top {
    width: 14%;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity__input {
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

.cartcount {
    background: #fabf04;
    color: #000;
    border-radius: 20px;
    padding: 8px;
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 1px;
    position: absolute;
    bottom: 47px;
}

.cartclr:hover {
    color: #000;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 40px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.card-img-top {
    width: 60%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}


/*nav button Start */

.firstnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.secnav {
    background: #db2d88;
}

.phone {
    float: right;
    width: 282px;
    height: 70px;
    margin: 25px 10px 25px 10px;
    display: table;
    background: url(static/images/phoneimg.png) no-repeat;
    border-left: transparent;
}

.buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
    background:
}

.buttons button {
    width: 150px;
    height: 30px;
    background-color: transparent;
    margin: 10px;
    color: #0094e5;
    /* Change this to your desired text color */
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
}

.buttons button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0094e5;
    /* Change this to your desired border color */
    transition: all 0.3s 0.2s ease;
    left: 0;
    top: 0;
}

.buttons button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0094e5;
    /* Change this to your desired border color */
    transition: all 0.3s ease;
    right: 0;
    bottom: 0;
}

.buttons button p {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 1;
    color: white;
}

.buttons button p:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #0094e5;
    /* Change this to your desired border color */
    transition: all 0.3s 0.4s ease;
    right: 0;
    top: 0;
}

.buttons button p:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #0094e5;
    /* Change this to your desired border color */
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
}

.buttons button:hover {
    color: #000;
    /* Change this to your desired text color */
    letter-spacing: 2px;
}

.buttons button:hover:before,
.buttons button:hover:after {
    width: 100%;
}

.buttons button:hover p:before,
.buttons button:hover p:after {
    height: 100%;
}

.buttons button span {
    height: 100%;
    top: 0;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

.button button a{
    color:white;
}

/*nav button end */


/*  carosouel */

.carosuelmargin {
    margin-left: 40px;
    margin-right: 40px;
}

.carosuelinnerheight {
    height: 285px;
    border-radius: 15px;
}


/* PRODUCT CSS */

h2 {
    margin: 5px 0 30px 0;
    text-align: center;
}


/* -------- =full-width-image List -------*/

.full-width-image {
    height: 400px;
    background-image: url('../images/background.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.full-width-image h3 {
    color: #000;
    font-size: 180%;
    background-color: #fff;
    display: inline-block;
    margin: 120px 0 0 0;
    padding: 10px;
}

.full-width-image p {
    color: #333;
    font-size: 140%;
    background-color: #fff;
    display: inline-block;
    margin: 4px 0 0 0;
    padding: 8px;
}


/*card deck */

.card-deck {
    margin: -100px 0px;
    justify-content: space-between;
}

.card-deck .card {
    margin: 0 0 1rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}

.card-deck .card img {
    border-radius: 50%;
    display: block;
    margin: 7px auto;
    width: 100px;
    height: 100px;
}


/* underline text */

.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80px;
    background: #0094e5;
    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}


/* optional hover classes used with anmiation */

.underline:hover:after {
    width: 80px;
    background: green;
}


/* why as css */

.owl-buttons {
    display: none;
}

.owl-carousel:hover .owl-buttons {
    display: block;
}

.owl-item {
    text-align: center;
    margin: 10px;
    /* Remove the margin */
}

.owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    color: #869791;
    font-size: 40px;
    line-height: 300px;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    top: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 20px;
}

.owl-image {
    width: 283px;
    height: 167px;
    object-fit: cover;
}


/* STRUCTURE */

.wrapper {
    padding: 5px;
    max-width: 100%;
    width: 95%;
    margin: 20px auto;
}

header {
    padding: 10px 15px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
        &:nth-last-child(2) {
            margin-right: 0;
        }
        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.cardrow {
    width: 100%;
    height: 220px;
    margin: 5px;
    padding: 15px;
}

.cardrow2 {
    width: 100%;
    height: 150px;
    margin: 5px;
    padding: 15px;
}

.cardrowimg {
    max-width: 110px;
    padding: 10px;
}


/*footer css */

.site-footer {
    background-color: #db2d88;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #0092dd;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.highlighttag {
    color: #0092dd;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0px 1px white;
}

.chatbtn {
    color: #fff;
}

.chatbtn:hover {
    color: #fff;
}

.desk-none {
    display: none;
}

.mob-none {
    display: block;
}

.navigation {
    height: 72px;
    background: linear-gradient(45deg, #4199fe, #74b4fe);
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.mobnav {
    float: right;
}

.mobnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 17px;
    position: relative;
    margin-bottom: 20px;
}

.mobnav ul li {
    float: left;
    position: relative;
}

.mobnav ul li a,
.mobnav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626;
    text-decoration: none;
}

.mobnav ul li a {
    background: transparent;
    color: #FFF;
}

.mobnav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}

.navbar-dropdown li a {
    background: #2581DC;
}

.mobnav ul li a:not(:only-child):after,
.mobnav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

.mobnav ul li ul li {
    min-width: 190px;
}

.mobnav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }
    .mobnav {
        width: 100%;
        padding: 55px 0 15px;
    }
    .mobnav ul {
        display: none;
    }
    .mobnav ul li {
        float: none;
    }
    .mobnav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
    }
    .mobnav ul li ul li a {
        padding-left: 30px;
    }
    .navbar-dropdown {
        position: static;
    }
}

@media screen and (min-width:800px) {
    .nav-list {
        display: block !important;
    }
}

#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 25px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
    top: -10px;
}

#navbar-toggle span:after {
    bottom: -10px;
}

#navbar-toggle.active span {
    background-color: transparent;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
    top: 0;
}

#navbar-toggle.active span:before {
    transform: rotate(45deg);
}

#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}

.logincard {
    margin: 0 auto;
    text-align: center;
    width: 35%;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
    padding: 20px;
    margin-top: 20px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.wrap {
    padding: 15px;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.cartmob {
    position: absolute;
    top: 21px;
    right: 72px;
    background: transparent;
    font-size: 20px;
    color: #fff;
}

.mobcartcnt {
    background: #f7c301;
    color: #000;
    position: absolute;
    border-radius: 50%;
    padding-left: 5px;
    font-size: 12px;
    padding-right: 5px;
    right: -8px;
    top: -4px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*---------------------------*/

.btn-cornered,
.input-cornered {
    border-radius: 4px;
}

.btn-rounded {
    border-radius: 50%;
}

.input-rounded {
    border-radius: 50px;
}

.plusic {
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 10px;
}

.panel-success>.panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel>.table {
    margin-bottom: 0;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-bottom-width: 1px;
}

.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.ssic {
    top: 11px;
    position: relative;
}

.animation-element:nth-of-type(3n-2) {
    width: 100%;
    margin: 0% 1.375% 2.75% 0%;
    clear: left;
}

.animation-element:nth-of-type(3n-1) {
    width: 100%;
    margin: 0% 1.375% 2.75% 1.375%;
}

.animation-element:nth-of-type(3n-0) {
    width: 100%;
    margin: 0% 0% 2.75% 1.375%;
    clear: right;
}


/*bounce up animation for the subject*/

.bounce-up .subject {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view .subject {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
/* apply animations*/

/* Define keyframes for fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply fade-in animation to elements inside .fade-in-container */
  .fade-in-container > * {
    animation: fadeIn 1s ease-out;
  }

  .card:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* Define right-to-left animation */
@keyframes slideRightToLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
  
  /* Apply animation to carousel items */
  .carousel-item {
    animation: slideRightToLeft 1s ease-in-out;
  }
  
  /* Ensure animation only occurs when carousel item becomes active */
  .carousel-item:not(.active) {
    animation: none;
  }
  