@media (max-width: 480px) {
    .mob-none {
      display: none;
    }
    .desk-none{
        display: block;
      }
      .logincard{
        width: 93%;
      }
  }

  @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .mob-none {
      display: none;
    }
    .desk-none{
        display: block;
      }
  }