<div class=" mob-none">
<div class="row secnav">
    <div class="col-md-3 pb-0 firstnav">
      <img src="static/images/shriganesh-removebg-preview.png" style="max-width: 130px;">
    </div>
    <div class="col-md-3 pb-0">
      <a class="chatbtn" href="https://wa.me/919442213234" style="margin-top:10px;">
        <i class="fa-brands fa-whatsapp"></i>
        <span class="">Click to Chat </span>
      </a>
      <div style="color:#fff;">Mimnum Order Value Is 3000 !!!</div>
    </div>
    <div class="col-md-3 text-center pb-0">
      <address style="padding: 7px; color: white; text-align: left;"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Paraipatti<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Dindugul(Dt)<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tamil Nadu<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp PIN: 624</address>
    </div>
    <div class="col-md-3 d-none d-lg-block align-self-center pb-0">
			<div class="phone"> 
				<p style="padding:10px; color: white;">FOR QUERIES &amp; <br> Bulk order: 
          <span class="medium">94422-13234</span> 
        </p>
				
			</div>
		</div>
  </div>
</div>
  <nav style="border: 1px soild white;" class="mob-none">
    <div class="buttons" style="background: #db2d88;opacity: 0.8;">
      <button><p><a href="/" class="atagcls">Home</a></p></button>
      <button><p><a href="/aboutus" class="atagcls">About</a></p></button>
      <button><p><a href="/contactus" class="atagcls">Contacts</a></p></button>
      <button><p><a href="/customerlogin" class="atagcls">Products</a></p></button>
      <button><p><a href="/customerlogin" class="atagcls">LOGIN & SIGNUP</a></p></button>
    </div>
  </nav>
  <section class="navigation desk-none">
    <div class="nav-container">
      <div class="brand">
        <img src="static/images/sriganeshfireworks.png" style="max-width: 130px;">
      </div>
      <nav class="mobnav">
        <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Contacts</a>
            {% comment %} <ul class="navbar-dropdown">
              <li>
                <a href="#!">Sass</a>
              </li>
              <li>
                <a href="#!">Less</a>
              </li>
              <li>
                <a href="#!">Stylus</a>
              </li>
            </ul> {% endcomment %}
          </li>
          <li>
            <a href="#!">Products</a>
          </li>
          <li>
            <a href="#!">LOGIN & SIGNUP</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>