{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    .panel-heading{
      background: #db2d88!important;
      color: white!important;
    }
    .downloadcsv {
      float: right;
      margin: -25px;
      margin-right: -12px;
  }
  </style>
</head>

<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h6 class="panel-title">Total Customers</h6>
      <a class="btn btn-success downloadcsv" href="#" id="download-table">Download CSV</a>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for c in customers %}
      <tr>
        <td> <img src="{% static c.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td> {{c.get_name}}</td>
        <td>{{c.mobile}}</td>
        <td>{{c.address}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-customer' c.id  %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger btn-xs" href="{% url 'delete-customer' c.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  document.getElementById('download-table').addEventListener('click', function () {
      var data = [];

      // Add table headers to the data array
      var headers = [];
      $('#dev-table thead tr th').each(function () {
          // Exclude the Image and Actions headers
          if ($(this).text() !== "Picture" && $(this).text() !== "Actions") {
              headers.push($(this).text());
          }
      });
      data.push(headers);

      // Iterate over table rows
      $('#dev-table tbody tr').each(function () {
          var row = [];

          // Iterate over table cells in the row
          $(this).find('td').each(function (index) {
              // Exclude the Image and Actions columns (index 4 and 6) from the data
              if (index !== 1 && index !== 4) {
                  row.push($(this).text());
              }
          });

          data.push(row);
      });

      // Create CSV content
      var csvContent = '';

      // Convert data array to CSV format
      data.forEach(function (row, index) {
          var csvRow = row.join(',');
          if (index < data.length - 1) {
              csvRow += '\n';
          }
          csvContent += csvRow;
      });

      // Create a Blob containing the CSV content
      var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8' });

      // Create a download link
      var link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = 'table_data.csv';

      // Append the link to the document and trigger the click event
      document.body.appendChild(link);
      link.click();

      // Remove the link from the document
      document.body.removeChild(link);
  });
</script>
{% endblock content %}
